<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="static/main.js" defer></script>
</head>
<body>
<div class="container">
    <p>Welcome to the game of "Guess The Number"!</p>
    <p>Think of a number (between 1 and 1000) and I'll guess what number it is in less than ten steps.</p>
    <p>Press OK to start.</p>
    <form action="" method="POST">
        <button>OK</button>
    </form>
</div>
</body>
</html>